{
  "display_name": "{{ name }}",
  "virtual_network_policy": {
    "overlay_control_protocol": "{{ overlay_type }}"
  },
  "fabric_addressing_policy": {
    "spine_leaf_links": "{{ fabric_addressing }}",
    "spine_superspine_links": "{{ fabric_addressing }}"
  },
  "spine": {
    "count": {{ spine_count }},
    "link_per_superspine_count": 0,
    "tags": [],
    "logical_device": {
      "display_name": "{{ spine_logical_device }}",
    },
    "link_per_superspine_speed": null
  },
  "rack_type_counts": [
    {
      "rack_type_id": "{{ rack_type_name }}",
      "count": 1
    }
  ],
  "dhcp_service_intent": {
    "active": true
  },
  "rack_types": [
    {
      "id": "{{ rack_type_name }}",
      "display_name": "{{ rack_type_name }}",
      "fabric_connectivity_design": "l3clos"
    }
  ],
  "capability": "blueprint",
  "asn_allocation_policy": {
    "spine_asn_scheme": "distinct"
  },
  "type": "{{ template_type }}"
},
